.container {
  
  .pageList{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
  
    li {
      color: var(--blue-500);
      font-size: 1.3rem;
  
      &:hover {
        cursor: pointer;
      }
    }
    .active {
      text-align: center;
      background: var(--blue-500);
      border: 3px solid var(--blue-200);
      border-radius: 50%;
      padding: 5px;
      width: 42px;
      box-shadow: 0 0 0 2px var(--blue-500);
      -moz-box-shadow: 0 0 0 2px var(--blue-500);
      -webkit-box-shadow: 0 0 0 2px var(--blue-500);
      color: var(--blue-200);
    }
  }
}