.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    color: var(--blue-500);
    margin: 0;
    font-size: 1.2rem;
  }

  p {
    color: var(--text-300);
  }

  .languages {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
      font-size: 1rem;
      color: var(--text-200);
    }
  }
}