.container {
  display: flex;
  align-items: center;
  
  .circle {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 5px solid var(--blue-200);
    background: var(--blue-500);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 3px var(--blue-500);
    -moz-box-shadow: 0 0 0 3px var(--blue-500);
    -webkit-box-shadow: 0 0 0 3px var(--blue-500);

    color: var(--blue-300);
    font-size: 1.5rem;

    @media (max-width: 768px) {
      width: 50px;
      height: 50px;
      border: 2px solid var(--blue-200);
      box-shadow: 0 0 0 1px var(--blue-500);
      -moz-box-shadow: 0 0 0 1px var(--blue-500);
      -webkit-box-shadow: 0 0 0 1px var(--blue-500);
      font-size: 1rem;
      margin-top: -100%;
      margin-left: 5px;
    }
  }
}